<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="layout">

<head>
    <meta charset="utf-8">
    <title>The Contacts</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css"
          th:href="@{css/bootstrap.min.css}">
</head>

<body>
<div layout:fragment="content">
    <div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">Contact list</div>

        <div class="panel-body">
        <form th:action="@{/index}" method="get">
            <input type="text" name="keyword">
            <button type="submit" class="btn btn-primary"> Search </button>
        </form>
        </div>

        <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th>FamilyTies</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="c : ${listContact}">
                    <td th:text="${c.id}"></td>
                    <td th:text="${c.firstName}"></td>
                    <td th:text="${c.lastName}"></td>
                    <td th:text="${c.email}"></td>
                    <td th:text="${c.phone}"></td>
                    <td th:text="${c.address}"></td>
                    <td th:text="${c.familyties}"></td>
                    <td>
                        <a class="btn btn-primary" th:href="@{/add(id=${c.id})}">Add</a>
<!--                    <td sec:authorize="hasRole('ROLE_ADMIN')">-->
                        <a class="btn btn-warning" th:href="@{/edit(id=${c.id})}">Edit</a>
                        <a class="btn btn-danger" th:href="@{/delete(id=${c.id}, page=${currentPage}, keyword=${keyword})}">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>

            <!-- Pagination -->
            <div class="pagination-container">
                <ul class="pagination">
                    <li th:each="page, status : ${pages}"
                        class="page-item ${currentPage == status.index ? 'active' : ''}">
                        <a th:href="@{/index(page=${status.index})}" class="page-link"
                           th:text="${status.index + 1}"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>
