<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
  <meta charset="UTF-8">
  <title>Enter a new contact</title>
</head>

<body>
<div layout:fragment="content">
  <div class="col-md-4 col-xs-8">
    <div class="panel panel-primary">
      <div class="panel-heading">Enter a new contact</div>
      <div class="panel-body">
        <form th:action="@{/save}" method="post">
<!--          th:object="${contact}"-->
          <div class="form-group">
            <label for="firstName" class="control-label">First Name: </label>
            <input class="form-control" type="text" name="firstName" id="firstName" required />
          </div>
          <div class="form-group">
            <label for="lastName" class="control-label">Last Name: </label>
            <input class="form-control" type="text" name="lastName" id="lastName" required />
          </div>
          <div class="form-group">
            <label for="email" class="control-label">Email: </label>
            <input class="form-control" type="email" name="email" id="email" required />
          </div>
          <div class="form-group">
            <label for="phone" class="control-label">Phone: </label>
            <input class="form-control" type="text" name="phone" id="phone" required />
          </div>
          <div class="form-group">
            <label for="address" class="control-label">Address: </label>
            <input class="form-control" type="text" name="address" id="address" required />
          </div>
          <div class="form-group">
            <label for="familyties" class="control-label">Familyties: </label>
            <input class="form-control" type="text" name="familyties" id="familyties" />
          </div>
<!--          <div class="form-group">-->
<!--            <label for="category" class="control-label">Category: </label>-->
<!--            <select class="form-control" name="category" id="category">-->
<!--              <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>-->
<!--            </select>-->
<!--          </div>-->
          <button type="submit" class="btn btn-primary">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>
