
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="utf-8">
  <title>Layout</title>
  <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}">
  <link rel="stylesheet" href="../static/css/style.css" th:href="@{css/style.css}">
</head>

<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">My site</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a th:href="@{/index}">Accueil</a></li>
      <li><a th:href="@{/contact}">AddContact</a></li>
    </ul>
  </div>
</nav>

  <section layout:fragment="content"></section>

</body>
</html>
